<!DOCTYPE html>
<html>
    {% extends 'base.html' %}

{% block content %}

<head>
	<title>Campus Dash - Home</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header>
		<h1>Campus Dash</h1>
		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<h2>About Campus Dash</h2>
			<p>Campus Dash is a web application designed to help students manage their college life. With Campus Dash, students can easily organize their schedules, track their grades, and get reminders for important events and deadlines.</p>
		</section>
		<section>
			<h2>Login</h2>
			<form action="{{ url_for('login') }}">
				<br>
				<input type="submit" value="Login">
			</form>
		</section>
	</main>
	<footer>
		<p>&copy; 2023 Campus Dash, Inc.</p>
	</footer>
</body>
{% endblock %}
</html>