{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Sign Up {% endblock %}</h1>
    <form method="post" enctype = "multipart/form-data">
        <label for="username">Username:</label>
        <br>
        <input type="text" name="username"
               value="{{ request.form['username'] }}"></input>
        <br>
        <label for="password">Password:</label>
        <br>
        <input type="password" name="password"
               value="{{ request.form['password'] }}"></input>
        <br>
        <label for="firstname">First name:</label>
        <br>
        <input type="text" name="firstname"
               value="{{ request.form['firstname'] }}"></input>
        <br>
        <label for="lastname">Last name:</label>
        <br>
        <input type="text" name="lastname"
               value="{{ request.form['lastname'] }}"></input>
        <br>
        <label for="email">Email:</label>
        <br>
        <input type="email" name="email"
               value="{{ request.form['email'] }}"></input>
        <br>
        <input type = "file" name = "file" />
        <br>
        <button type="submit">Sign Up</button>
    </form>
{% endblock %}
